	<div class="pane-header">Career</div>
	<div class="pane-content">
		<div class="career-table">
			
			<table id="header-table">
				<tr>
					<th class="avatar left-border"></th>
					<th class="name">Heroes</th>
					<th class="time">Time Played by Class</th>
					<th class="level">Level</th>
					<th class="elite">Elite Kills</th>
					<th class="dps">DPS</th>
					<th class="toughness">Toughness</th>
					<th class="healing right-border">Healing</th>
				</tr>
			</table>
			<div class="scroll-container">
				<table id="stat-table">
					<% for(var i=0; i<heroes.length; i++) { %>
					<tr>
						<td class="avatar"></td>
						<td class="name"><%= heroes[i].name %></td>
						<td class="time">
							<div class="time-percentage">35%</div>
							<div class="time-progress">
								<div class="filled"></div>
							</div>
						</td>
						<td class="level">
							<div class="time-percentage"><%= heroes[i].level %></div>
							<div class="time-progress">
								<div class="filled" style="width: <%= heroes[i].level / 70 * 100 %>%"></div>
							</div>
						</td>
						<td class="elite"><%= heroes[i].kills.elites %></td>
						<td class="dps"><%= heroes[i].dps %></td>
						<td class="toughness"><%= heroes[i].toughness %></td>
						<td class="healing"><%= heroes[i].healing %></td>
					</tr>
					<% } %>
				</table>
			</div>
		
		</div> <!-- career-table -->
		
		
		<div class="career-stats">
			<div id="paragon-stats" class="section">
				<div class="section-title">Paragon Level</div>
				<div class="section-number"><%= paragonLevel %></div>
			</div>
			<div class="section middle">
				<div class="section-title">Total Lifetime Kills</div>
				<div class="section-number"><%= kills.monsters %></div>
			</div>
			<div class="section">
				<div class="section-title">Total Elite Kills</div>
				<div class="section-number"><%= kills.elites %></div>
			</div> <!-- section -->
		</div> <!-- career-stats -->
	</div> <!-- pane-content -->