<div id='hero-left'>
    <!-- HEROES SECTION -->
    <div id='hero-heroes-section' class='section'>
        <h1 id='hero-heroes-section-title'>
            <span class='title'>Heroes</span>
            <span class='caret'></span>
        </h1>
        <div class='content'>
            <% if (this && this.heroes) { %>
                <% for (var i=0; i<this.heroes.length; i++) { %>
                <% var hero = heroes[i]; %>
                <div class='herochoice' heroIndex='<%= i %>'>
                    <img src='assets/images/d3/portraits/nav/<%= hero['class'] %>_<%= getGender(hero.gender) %>.png' />
                    <div class='name'>
                        <span class='level'><%= hero.level %></span>
                        <%= hero.name %>
                    </div>
                </div>
                <% } %>
            <% } else { %>
            <div class='error-message'>
                No heroes owned.
            </div>
            <% } %>
        </div>
    </div>

    <!-- INFO SECTION -->
    <div id='hero-info-section' class='section'>
        <h1>Hero Information</h1>
        <div class='content'>
            <div id='hero-info-section-left'>
                <div id='hero-info-navbar'>
                    <div class='subnavitem' subpage='attributes'>Attributes</div>
                    <div class='subnavitem' subpage='skills'>Skills</div>
                    <div class='subnavitem' subpage='bonuses'>Bonuses</div>
                    <div class='subnavitem' subpage='paragon'>Paragon</div>
                </div>
                <div id='subpage-wrapper'>
                    <div id='attributes-subpage' class='subpage'></div>
                    <div id='skills-subpage' class='subpage'></div>
                    <div id='bonuses-subpage' class='subpage'></div>
                    <div id='paragon-subpage' class='subpage'></div>
                </div>
            </div>
            <div id='hero-paper-doll'></div>
        </div>
    </div>

</div>

<div id='hero-right'>
    <div class='strip'></div>
    <div class='header'>
        <h1>Inna's Radiance</h1>
        <h2>Daibo</h2>
    </div>
    <div class='body'>
    </div>
</div>