<div class='pane'>
<h1>Item Profile</h1>

<h3>Name</h3>
<div><%= name %></div>

<h3>Type</h3>
<div><%= type.typeName %></div>

<h3>Required Level</h3>
<div><%= requiredLevel %></div>

<% if (this.armor != null) { %>
<h3>Armor</h3>
<div><%= this.armor.min %></div>
<% } else if (this.dps != null) { %>
<h3>Damage per Second</h3>
<div><%= this.dps.min %></div>
<% } %>

<h3>Attributes (Raw)</h3>
<% for (var attr in attributesRaw._data) { %>
<div><i><%= attr %></i>: <%= attributesRaw[attr].min %></div>
<% } %>
</div>

<h3>Attributes (Primary)</h3>
<% for (var i=0; i<attributes.primary.length; i++) { %>
<div><%= attributes.primary[i].text %></div>
<% } %>

<h3>Attributes (Secondary)</h3>
<% for (var i=0; i<attributes.secondary.length; i++) { %>
<div><%= attributes.secondary[i].text %></div>
<% } %>

<h3>Attributes (Passive)</h3>
<% for (var i=0; i<attributes.passive.length; i++) { %>
<div><%= attributes.passive[i].text %></div>
<% } %>

</div>